# requirements.txt - Version DÉFINITIVE pour Streamlit Cloud

# Framework web
streamlit

# Moteur OCR et Structuration
mistralai
Pillow

# Computer Vision (sans version figée, pip choisira la bonne)
opencv-python-headless
torch
torchvision
pyvips